In [ ]:
!pip3 install mysql-connector-python

In [ ]:
!pip3 install mysql-connector-python

In [ ]:
try:
    con = mysql.connector.connect(host='localhost', user='root', password='root', database='employee')

except:
    print("Unable to Connect")

In [ ]:
try:
    con = mysql.connector.connect(host='localhost', user='root', password='root', database='employee')
    print("Connected")
    cur = con.cursor()
    res = cur.execute("select * from emp")
    for row in cur.fetchall():
        print(row)

except:
    print("Unable to Connect")

In [ ]:
try: 
    con = mysql.connector.connect(host='localhost', user='root', password='root', database='employee')
    print("Connected")
    cur = con.cursor()
    temp = cur.execute("Insert Into Student3(id, rollNo, name, email, age, city) VALUES(105, 5,, 'eepy', 'njhdv@gmail.com', 20, 'delhi'")
    con.commit()
    con.close()

except:
    print("Unable to Connect")

In [ ]:
id = int(input("Enter the id: "))
rollNo = int(input("Enter the rollNo: "))
name = input("Enter the name: ")
email = input("Enter the email: ")
age = int(input("Enter the age: "))
city = input("Enter the city: ")
value = (id, rollNo, name, email, age, city)

try:
    con = mysql.connector.connect(host='localhost', user ='root', password='root', database='employee')
    print("Connected")
    cur = con.cursor()
    temp = cur.execute("Insert Into Student3(id, rollNo, name, email, age, city) VALUES(%s, %s, %s, %s, %s, %s)", value)
    con.commit()
    con.close()

except:
    print("Unable to Connect")

In [ ]:
def display_schema(tablename):
    try:
        con = mysql.connector.connect(host='localhost', user='root', password='root', database='employee')
        print("Connected")
        cur = con.cursor()
        # cur.execute("DESC " + tablename)
        cur.execute(f"DESCRIBE {tablename}")
        print(cur.fetchall())
        con.close()

    except:
        print("Unable to Connect")

In [ ]:
display_schema('student3')

In [ ]:
try:
    con = mysql.connector.connect(host='localhost', user='root', password='root', database='employee')
    print("Connected")
    new = connection.cursor()
    new.execute("Insert into Student(roll, name, branch, section) VALUES(%s, %s, %s, %s)", data)
    con.close()

except:
    print("Unable to Connect")